@import "../../css/colors.css";
@import "../../css/units.css";

.file-input {
    display: none;
}

.group {
    display: inline-flex;
    flex-direction: row; /* makes columns, for each label/form group */
    align-items: center;
    vertical-align: middle;
}